@import '../../colors'
  
.form_wrapper
  box-sizing: border-box
  // position: absolute
  // left: 0
  // bottom: 0
  width: 100%
  height: 300px
  padding: 16px 16px
  background: #ccc

  .todo_check
    width: 26px
    height: 26px
    border-radius: 50%

  .todo_submit
